.logo-results{
  font-size: 8.5rem;
}

.github{
  font-size: 3.3rem;
}

.search{
  font-size: 1.7rem;
  padding-top: 0.8rem;
  padding-left: 0.3rem;
}

.logo-text{
  text-align: left;
}

.header-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2.2rem;
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.back{
  font-size: 2.8rem;
  margin-top: auto;
}

.back:hover, .header-logo:hover{
  cursor: pointer;
}

.profile-pic{
  height: 200px;
  width: 200px;
  object-fit: contain;
  border-radius: 10%;
}

i{
  margin-right: 0.4rem;
  color: var(--main4-color);
}
.foll{
  display: grid;
}

.username{
  font-style: italic;
  text-decoration: underline;
}

.user{
  width: 80%;
  height: min-content;
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
}

h2,h3{
  color: var(--main4-color);
}

.project-info{
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
}

.project{
  /* background-color: var(--main2-color); */

  width: 22%;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-name{
  text-transform: capitalize;
}

.projects-container{
  display: flex;
  justify-content: center;
}

.card-panel{
  background-color: #3DB2FF;
  height: 280px;
  overflow: auto;
}

.repos{
  
  font-size: 2rem;
  color: var(--main3-color);
}

.load{
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--main5-color);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load i{
  font-size: 3.2rem;
}

.updated{
  color: var(--main5-color);
  font-size: 0.9rem;
}